/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
.ul,ol,li{
    list-style: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
}

.img{
    object-fit: cover;
    width: 100%;
}
.main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;

}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/******** Header logo + menu nav********/
.header {
    display: flex;
    justify-content: space-between;
}
.header nav {
    display: flex;
    justify-content: space-between;
}
.header nav a{
    display: block;
    border-top: 4px solid transparent;
    padding-top: 15px;
}
.logo{
    padding: 32px;
}
.logo img{
    margin-right: 20px;
}

.header nav ul{
    display: flex;
}

.header nav ul li{
    margin:0 16px;
    font-weight: 400;
}

header a:hover{
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

/*** Zone recherche + input et bouton***/
.h1{
    padding-bottom: 6px;
    font-size:larger;
    font-weight:700;
}
.p{
    font-weight: 400;
}
.zone_de_recherche{
    padding: 16px 32px;
}
form{
    display:flex;
    align-items: center;
    margin:20px 0;
}
.zone_de_recherche form .map{
    height: 52px;
    width: 40px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    border: none;
}
input::placeholder{
    color: black;
    font-weight: bold;
}
.button{
    background-color:#0065FC;
    color: white;
    border-radius:0 15px 15px 0;
    width: 132px;
    height: 49px;
    border:1px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
}
.loupe {
    display: none;

}
.case{
    height: 48px;
    border: 1px solid #F2F2F2;
    padding-left: 8px;
    position: relative;
}

/***** Filtres style+container*****/
.containerFiltres{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    flex-flow: row wrap;
    padding: 0 32px;
}
.containerFiltres .filtre{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius:40px;
    padding-right:12px;
    cursor: pointer;
}
.filtre span{
    font-weight: bold;
}
.containerFiltres .filtre:hover{
    background-color: #DEEBFF;
    color:black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.containerFiltres i{
    color: #0065FC;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    
}
.information i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    height: 24px;
    width: 24px;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.selection-title {
    margin: 0;
}
.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements-cards .card-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hebergements-cards .card-subtitle{
    margin: 0;
}
.hebergements-cards .card-rating{
    margin-bottom: 5px;
    margin-top: auto;
}
.hebergements-cards a{
    width: 30%;
    margin-top: 33px;
}
.afficher-plus{
    padding-top: 30px;

}
.afficher-plus a{
    font-size: larger;
    font-weight: bold;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    width: 100%;
    display: flex;
    align-items:flex-start;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********Activités**********/
.activites-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}
.activites-cards a {
    width: 23%;
}
.activites-title {
    padding-left: 30px;
    padding-top: 60px;
}
.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/******Footer*********/
footer {
    margin:0;
}
footer nav {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    background-color: #F2F2F2;
}
nav .menu{
    flex: 1;
}
footer h3{
    margin: 10px;
    padding-left: 35px;
}
footer li{
    padding: 6px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        padding: 0 15px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards img {
        height: 200px;
    }
    .activites-cards .card {
        height: 260px;
    }
    .containerFiltres{
        gap: 0;
    }
    .containerFiltres .filtre{
        margin-right: 20px;
    }
    .containerFiltres h3{
        width: 100%;
    }
    .activites-cards .card-title{
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
        margin-bottom: 15px;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        width: 100%;
        padding: 0;
    }
    body{
        width: 100%;
        margin: 0;
        overflow-x: hidden;
        font-size: 80%;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
   .header nav{
        width: 100%;
    }
    .header nav ul{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;

    }
    .header nav img{
        align-items: center;
        width: 61px;
        height: 19px;
    }
    .header nav ul  li{
        width: 50%;
        margin: 0;
        text-align: center;
    }
    .header nav a:hover{
        border-top: none;
        color: #0065FC;
    }
    .header nav li a{
        padding-bottom: 20px;
        border-bottom: 3px solid #F2F2F2;
    }
    .header nav ul > li:hover{
        border-bottom: 3px solid #0065FC;
    }
    .case{
        height: 50px;
        width: 225px;
        font-size: 16px;
    }


    /**********recherche + filtre********/

    .zone_de_recherche form .map{
        height: 50px;
        width: 50px;
        font-size: 20px;

    }
    .zone_de_recherche h1,
    .zone_de_recherche p {
        justify-content: flex-start; 
    }
    .zone_de_recherche form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }
    .zone_de_recherche .loupe{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        color: white;
        border-radius: 14px;
        width: 50px;
        height: 50px;
        border: none;
        font-size: 18px;
        position: relative;
        right: 9px;
        box-shadow: 0 4px 4px #00000033;
    }
    .zone_de_recherche .button{
        display: none;
    
    }
    header nav {
        display: flex;
        flex-flow: column wrap;
    }
    .containerFiltres{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-left: 16px;
        padding: 0 16px;
        gap: 6px;
    }
    .information{
        padding: 16px 16px;
        flex-flow: nowrap;

    }
    .information i{
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        height: auto;
        width: auto;
    }
    .containerFiltres h3{
        width: 100%;
        padding-bottom: 6px;
    }
    .filtre:nth-child(3)::after {
        content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    }
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    /*********hebergement&populaires**/

    .hebergements-and-populaires{
        padding: 0;
    }
    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    /*********hebergements*********/

    .hebergements{
        order: 2;
        background: none;
        margin: 0;
    }
    .hebergements h2{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .hebergements .hebergements-cards{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .hebergements a{
        width: 100%;
        height: 100%;
    }
    .hebergements .afficher-plus{
        display: flex;
    }
    .card-rating{
        font-size: smaller;
        padding-top: 6px;
    }

    /*******Populaires*******/

    .hebergements-and-populaires .populaires{
        width: 100%;
        margin-top: 0;
        border-radius: 0px;
    }
    .populaires-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .populaires-cards a{
        width: 100%;
    }
    .populaires-cards .card{
        width: auto;
        border-radius: 20px;
    }
    .populaires h2{
        display: flex;
    }
    .populaires .card-txt{
        position: absolute;  top: auto;
    }
    .card-txt h3{
        font-size: 16px;
    }
    .card-txt > div p{
        font-size: 14px;
        padding-bottom: 32px;
    } 
    .populaires-cards .card-rating{
        position: absolute;  bottom:10px;
    }

    /**********activités********/

    .activites-cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .activites-cards a{
        width: 100%;
        margin-bottom: 10px;
    }
    .activites-title{
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .activites-cards > article.card{
        grid-area: unset;
    }
    .Activites-a-Marseille{
        padding: 32px;
    }
    .Activites-a-Marseille h2{
        margin: 0;
    }
    /********Footer*******/
    footer{
        width: 100%;
    }
    footer nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        gap: 32px;
    }

}
